@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #F0F2F5;
    margin: 0px;
    font-family: "Inter", sans-serif;
}

.header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0px;
    height: 78px;
}

.head-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 96px;
    gap: 167px;
}

.name {
    font-family: "Jost", serif;
    color: #FFB400;
    font-size: 24px;
    text-decoration: none;
}

.head > ul {
    list-style-type: none;
    padding: 0px;
}

li {
    display: inline;
    margin-right: 29px;
    font-family: "Inter", serif;
    font-size: 18px;
}

.choose {
    text-decoration: none;
    padding: 3px 10px;
    background-color: #ffb400;
    border: 2px solid #ffb400;
    color: white;
    border-radius: 4px;
    transition: background-color 0.4s, color 0.4s;
}

.choose:hover {
    color: #ffb400;
    background-color: white;
}

.enter {
    text-decoration: none;
    color: black !important;
    transition: color 0.4s;
}

.enter:link,
.enter:visited {
    color: black !important;
    text-decoration: none;
}

.enter:hover {
    color: rgba(0, 0, 0, 0.408) !important;
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 650px;
    align-items: center;
    justify-content: center;
    background:
        linear-gradient(to right, #F0F2F5 35%, rgba(255, 255, 255, 0) 60%),
        url('photo_2.jpeg');
    background-size: 1150px;
    background-position: right;
    background-repeat: no-repeat;
}

.main-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.main-products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 продукта в ряд */
    gap: 40px; /* расстояние между карточками */
    justify-items: center; /* выравнивание карточек по центру */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.product-card {
    background: #fff;
    text-align: center;
    font-family: "Inter", serif;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 224px;
    height: 464px;
    max-width: 250px;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: border 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card p {
    line-height: 15px;

}

.title-product {
    color: #1d191382;
}

.name-product {
    font-weight: bold;
    font-size: 18px;
}

.price-product {
    font-weight: bold;
}

.product-card:hover {
    border: 2px solid #ffb400;
}

.main-text {
    padding-right: 800px;
    padding-bottom: 100px;
    font-family: "Inter", serif;
    margin: 0px;
    font-size: 64px;
}

.main-text-blue {
    opacity: 0;
    position: absolute;
    animation: fadeAnimation 16s infinite;
    color: #ffb400;
}

.main-text-blue:nth-child(1) {
    animation-delay: 0s;
}
.main-text-blue:nth-child(2) {
    animation-delay: 4s;
}
.main-text-blue:nth-child(3) {
    animation-delay: 8s;
}
.main-text-blue:nth-child(4) {
    animation-delay: 12s;
}

@keyframes fadeAnimation {
    5%, 25% {
        opacity: 1; /* Показать элемент */
    }
    30%, 100% {
        opacity: 0; /* Скрыть элемент */
    }
}

.choose_2 {
    text-decoration: none;
    font-family: "Jost", serif;
    font-size: 25px;
    padding: 20px 60px;
    margin-right: 470px;
    background-color: #ffb400;
    border: 2px solid #ffb400;
    color: white;
    border-radius: 8px;
    transition: background-color 0.4s, color 0.4s;
}

.choose_2:hover {
    color: #ffb400;
    background-color: #F0F2F5;
}

.achiev {
    background-color: white;
}

.achiev-flex {
    font-family: "Inter", serif;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 20px 300px;
    gap: 20px;
    text-align: center;
    color: rgb(149, 149, 149);
}

.digits {
    font-size: 25px;
    color: black;
}

#a, #b, #c, #d {
    flex-grow: 1;
}

hr {
    border: 1px solid rgba(149, 149, 149, 0.189);
    margin: 0px;
}

.advant {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-bottom: 60px;
}

.advant > h4 {
    background-color: white;
    margin: 0px;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
    font-family: "Inter", serif;
    font-size: 64px;
}

.my_products > h4 {
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "Inter", serif;
    font-size: 64px;
}

.text-blue {
    color: #ffb400;
}

.advant-grid {
    font-family: "Inter", serif;
    font-size: 20px;
    background-color: white;
    text-align: center;
    padding: 0px 250px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 274px);
    grid-template-rows: repeat(2, 256px);
    justify-items: center;
    justify-content: center;
    grid-row-gap: 80px;
    grid-column-gap: 100px;
}

.advant-grid img {
    width: 200px;
}

.choose_3 {
    text-decoration: none;
    font-family: "Jost", serif;
    font-size: 20px;
    padding: 10px 40px;
    margin-top: 40px;
    width: 300px;
    background-color: #ffb400;
    border: 2px solid #ffb400;
    color: white;
    border-radius: 8px;
    transition: background-color 0.4s, color 0.4s;
}

.choose_3:hover {
    color: #ffb400;
    background-color: white;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.video > h4 {
    margin: 0px;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
    font-family: "Inter", serif;
    font-size: 64px;
}

.basement {
    font-family: "Jost", serif;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.basement-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: white;
    border: 1px solid white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    color: #8497A6;
    width: 1100px;
    height: 200px;
}

.basement-main-text {
    color: #345066;
}


@media (max-width: 1920px) {
    body {
      font-size: 16px;
    }

    .head-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 96px;
        gap: 120px;
    }

    h1 {
      font-size: 32px;
    }

    p {
      font-size: 14px;
    }
  }

.category-list {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Расстояние между категориями */
    padding: 0;
    margin: 20px auto;
    max-width: 500px;
    list-style: none;
}

.category-item {
    background-color: #f4f4f4;
    padding: 16px 24px;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.category-item:hover {
    background-color: #f8d98f;
    cursor: pointer;
}

.category-item:hover {
    background-color: #f8d98f;
    cursor: pointer;
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  gap: 12px;
  max-width: 600px;
}

.search-input {
  padding: 10px 16px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  flex-grow: 1;
  font-family: "Inter", sans-serif;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #007bff;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #0056b3;
}


.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 50px 80px;
  justify-items: center;
}

.category-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  max-width: 250px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  font-family: "Inter", sans-serif;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;

}

.category-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  background-color: #f8d98f;
}

.category-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.category-card p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.warehouse-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  padding: 0 40px 60px;
}

.warehouse-card {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-family: "Inter", sans-serif;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.warehouse-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  background-color: #f8d98f;
}

.product-link {
  text-decoration: none;
  color: black;
}

.product-link:hover .product-card {
  border-color: #ffb400;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.product-detail-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 50px 20px;
  flex-wrap: wrap;
}

.product-image img {
  width: 400px;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.product-info {
  max-width: 600px;
  font-family: "Inter", sans-serif;
}

.product-info h2 {
  font-size: 36px;
  margin-bottom: 25px;
}

.product-info p {
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 1.6;
}

.back-button {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 24px;
  background-color: #ffb400;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 8px;
  border: 2px solid #ffb400;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  transition: background-color 0.4s, color 0.4s;
  color: #ffb400;
  background-color: #F0F2F5;
}

.delete-button {
  margin-top: 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #a71d2a;
}

.edit-title {
  margin-top: 50px;
  font-size: 24px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.edit-form {
  margin: 20px auto; /* Центрирование по горизонтали */
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 10px;
  max-width: 500px;
  font-family: "Inter", sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.edit-form input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  font-family: "Inter", sans-serif;
}

.edit-button {
  background-color: #28a745;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Inter", sans-serif;
  width: 100%;
}

.edit-button:hover {
  background-color: #218838;
}

.add-product-form {
  width: 300px;
  margin: 80 auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.add-product-form h3 {
  text-align: center;
  margin-bottom: 30px;
}

.add-product-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-product-form input,
.add-product-form select {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.submit-button {
  padding: 12px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}


