{% load static %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sky Mood</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header">
        <nav class="head-text">
            <a href="index.html" class="name"><h2>ManagePro</h2></a>
            <ul>
                <li><a href="" class="enter">Мои продукты</a></li>
                <li><a href="" class="enter">Мои категории</a></li>
                <li><a href="" class="enter">Мои </a></li>
                <li><a href="" class="enter">Тесты</a></li>
            </ul>
            <ul>
                <li>
                    <a class="enter" href="" target="_blank">Вход</a>
                </li>
                <li>
                    <a class="choose" href="" target="_blank">Выбрать тариф</a>
                </li>
            </ul>
        </nav>
    </header>

    {% block content%}
    {% endblock %}

    <footer class="basement">
        <div class="basement-flex">
            <p>
                <span class="basement-main-text">Ещё</span><br>
                Подарочные сертификаты<br>
                Правила акций<br>
                Пользовательское соглашение<br>
                Обработка персональных данных<br>
                Согласие на обработку
            </p>
            <p>
                <span class="basement-main-text">Полезное</span><br>
                Каталог складов<br>
                Тарифы<br>
                Бесплатная помощь<br>
                Описание тарифов<br>
                Список доступных складов
            </p>
            <p>
                <span class="basement-main-text">О, ManagePro</span><br>
                Вопросы-ответы<br>
                Отзывы клиентов<br>
                Контакты<br>
                Вакансии<br>
                ManagePro для бизнеса
            </p>
            <p>
                © 2025 ManagePro<br>
                Включено в единый<br>
                реестр российских<br>
                программ
            </p>
        </div>
    </footer>
</body>
</html>