<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sky Mood</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header class="header">
        <nav class="head-text">
            <a href="index.html" class="name"><h2>ManagePro</h2></a>
            <ul>
                <li>Для психологов</li>
                <li>Для бизнеса</li>
                <li>Сертификаты</li>
                <li>Тесты</li>
            </ul>
            <ul>
                <li>
                    <a class="enter" href="form.html" target="_blank">Вход</a>
                </li>
                <li>
                    <a class="choose" href="form.html" target="_blank">Выбрать психолога</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="main">
        <div class="main-text">
            <h4>Консультации<br>с психологом онлайн:<br>
                <div>
                    <span class="main-text-blue">повысить качество жизни</span>
                    <span class="main-text-blue">найти своё призвание</span>
                    <span class="main-text-blue">справиться со стрессом</span>
                    <span class="main-text-blue">наладить отношения<br>с близкими</span>
                </div>
            </h4>
        </div>
        <a class="choose_2" href="form.html" target="_blank">Подобрать психолога</a>
    </div>

    <div class="achiev">
        <div class="achiev-flex">
            <p id="a"><span class="digits">350 000+</span><br>человек нашли своего психолога онлайн</p>
            <p id="b"><span class="digits">4 200</span><br>проверенных специалистов</p>
            <p id="c"><span class="digits">7 лет</span><br>средний опыт практики</p>
            <p id="d"><span class="digits">81%</span><br>клиентов чувствуют результат после 5-й сессии</p>
        </div>
    </div>

    <hr>

    <div class="advant">
        <h4>С чем <span class="text-blue">поможет</span> психолог?</h4>
        <div class="advant-grid">
            <div><img src="img/advant_1.svg" alt=""> <br> <p>Наладить гармоничные отношения с близкими людьми</p></div>
            <div><img src="img/advant_2.svg" alt=""> <br> <p>Справиться со стрессом, тревогой и страхом</p></div>
            <div><img src="img/advant_3.svg" alt=""> <br> <p>Принять себя и повысить самооценку</p></div>
            <div><img src="img/advant_4.svg" alt=""> <br> <p>Научиться говорить «нет» и отстаивать личные границы</p></div>
            <div><img src="img/advant_5.svg" alt=""> <br> <p>Пережить перемены: переезд, расставание, потеря работы</p></div>
            <div><img src="img/advant_6.svg" alt=""> <br> <p>Понять, почему на работе проблемы и нет мотивации</p></div>
        </div>
        <a class="choose_3" href="form.html" target="_blank">Хочу обсудить свою ситуацию</a>
    </div>

    <div class="video">
        <h4>Развееваем <span class="text-blue">мифы</span> о психологах:</h4>
        <iframe
            width="720"
            height="405"
            src="https://rutube.ru/play/embed/f73ad04ed17304b6a4ca0bf5c76dc5cf"
            allow="clipboard-write; autoplay"
            allowFullScreen
        ></iframe>
    </div>

    <footer class="basement">
        <div class="basement-flex">
            <p>
                <span class="basement-main-text">Ещё</span><br>
                Подарочные сертификаты<br>
                Правила акций<br>
                Пользовательское соглашение<br>
                Обработка персональных данных<br>
                Согласие на обработку
            </p>
            <p>
                <span class="basement-main-text">Полезное</span><br>
                Каталог психологов<br>
                Услуги психологов<br>
                Бесплатная помощь<br>
                Психологические тесты<br>
                Статьи о психологии
            </p>
            <p>
                <span class="basement-main-text">О, Sky Mood</span><br>
                Вопросы-ответы<br>
                Отзывы клиентов<br>
                Контакты<br>
                Вакансии<br>
                Ясно для бизнеса
            </p>
            <p>
                © 2025 Sky Mood<br>
                Включено в единый<br>
                реестр российских<br>
                программ
            </p>
        </div>
    </footer>
</body>
</html>