<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sky Mood</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header class="header">
        <nav class="head-text">
            <a href="index.html" class="name"><h2>ManagePro</h2></a>
            <ul>
                <li><a href="products" class="enter">Мои продукты</a></li>
                <li><a href="" class="enter">Мои категории</a></li>
                <li><a href="" class="enter">Мои </a></li>
                <li><a href="" class="enter">Тесты</a></li>
            </ul>
            <ul>
                <li>
                    <a class="enter" href="" target="_blank">Вход</a>
                </li>
                <li>
                    <a class="choose" href="" target="_blank">Выбрать тариф</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="main">
        <div class="main-text">
            <h4>ManagePro это:<br>
                <div>
                    <span class="main-text-blue">повысить качество жизни</span>
                    <span class="main-text-blue">найти своё призвание</span>
                    <span class="main-text-blue">справиться со стрессом</span>
                    <span class="main-text-blue">наладить отношения<br>с близкими</span>
                </div>
            </h4>
        </div>
        <a class="choose_2" href="form.html" target="_blank">Мой склад</a>
    </div>

    <div class="achiev">
        <div class="achiev-flex">
            <p id="a"><span class="digits">350 000+</span><br>Клиентов по всей России</p>
            <p id="b"><span class="digits">4 200</span><br>Функцианирующих складов</p>
            <p id="c"><span class="digits">7 лет</span><br>На рынке</p>
            <p id="d"><span class="digits">81%</span><br>Всех товаров хранятся на наших складах</p>
        </div>
    </div>

    <hr>

    <div class="advant">
        <h4>С чем <span class="text-blue">поможет</span> психолог?</h4>
        <div class="advant-grid">
            <div><img src="static/css/1.png" alt=""> <br> <p>Оптимизация хранения товаров</p></div>
            <div><img src="static/css/2.png" alt=""> <br> <p>Эффективная загрузка оборудования</p></div>
            <div><img src="static/css/3.png" alt=""> <br> <p>Сотрудничество при перемещении тяжелых грузов</p></div>
            <div><img src="static/css/4.png" alt=""> <br> <p>Мониторинг уровня товарных запасов</p></div>
        </div>
        <a class="choose_3" href="" target="_blank">Хочу начать работать с ManagePro</a>
    </div>

    <footer class="basement">
        <div class="basement-flex">
            <p>
                <span class="basement-main-text">Ещё</span><br>
                Подарочные сертификаты<br>
                Правила акций<br>
                Пользовательское соглашение<br>
                Обработка персональных данных<br>
                Согласие на обработку
            </p>
            <p>
                <span class="basement-main-text">Полезное</span><br>
                Каталог складов<br>
                Тарифы<br>
                Бесплатная помощь<br>
                Описание тарифов<br>
                Список доступных складов
            </p>
            <p>
                <span class="basement-main-text">О, ManagePro</span><br>
                Вопросы-ответы<br>
                Отзывы клиентов<br>
                Контакты<br>
                Вакансии<br>
                ManagePro для бизнеса
            </p>
            <p>
                © 2025 ManagePro<br>
                Включено в единый<br>
                реестр российских<br>
                программ
            </p>
        </div>
    </footer>
</body>
</html>